
<header class="masthead" role="banner">
  <nav role="navigation">
      <ul class="nav-main">
          <li><a href="/" class="current-page">Home</a></li>
          <li><a href="/visualizations">Explore</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <!--<li><a href="/topHotels">Charts</a></li> -->
          <li><a href="/credits">Credits</a></li>

      </ul>
  </nav>

</header>
